
/* Images */

.img-container {
   display: flex;
}

.img-container > img {
   width: 100%;
}



/* Sections */

.full-section {
   min-height: calc(100vh - 5.625rem);
}

.static-full-section {
   height: calc(100vh - 5.625rem);
}

.dual-section-element {
   flex-basis: 50%;

   transition: flex-basis 0.3s ease-in-out;
}

.dual-section-element:hover {
   flex-basis: 55%;
}



/* Backgrounds */

.bg-parallax {
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;

   backdrop-filter: blur(1rem);

   background-color: rgba(0, 0, 0, 0.80);
   background-blend-mode: color-dodge;
}

.bg-img-section {
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

   background-color: rgba(0, 0, 0, 0.40);
   background-blend-mode: color-dodge;
}

.bg-img-1 {
   background-image: url('../images/landing.webp');
}

.bg-dual-section {
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

   background-color: rgba(0, 0, 0, 0.20);
   background-blend-mode: color-dodge;

   transition: background-color 0.3s ease-in-out;
}

.bg-dual-section:hover {
   background-color: rgba(0, 0, 0, 0);
}

.bg-dual-1 {
   background-image: url('../images/dual-1.webp');
}

.bg-dual-2 {
   background-image: url('../images/dual-2.webp');
}

.bg-card {
   background-color: #F1F1F1;
}

.collection-effect {
   background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
}



/* Cursors */

.cursor-pointer {
   cursor: pointer;
}



/* Colors */

.font-white {
   color: var(--white)!important;
}



/* Displays */

.products-grid {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-auto-rows: 1fr;

   gap: 3rem;
}



/* Buttons */

.collection-btn {
   padding: 0.5rem 1rem;

   color: var(--white);

   transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.collection-btn:hover {
   color: var(--black);
   background-color: var(--white);
}



/* Paddings */

.py-6 {
   padding-top: 5rem;
   padding-bottom: 5rem;
}